body {
background-color: #fffa61;
}
#header {
padding: 10px;
color: purple;
font-family: Tahoma;
font-size: 20px;
text-align: center;
}
#p {
font-size: 30px;
color: purple;
}
#p2 {
font-size: 20px;
color: purple;
}

#container {
	background-color: #fff826;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

#main {
	width: 600px;
	float: right;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #a8a420;
	text-align: right;
}

.selected {
	font-weight: bold;
}

a { 
	text-decoration: none;
	color: red;
}

